<div class="card mt-3 mb-3">
  <div class="row g-0">
    <div class="card-header fs-5"><b class="ms-3">
      Sort feedback by:</b>
    </div>
    <form class="row mb-3" method="POST" id="sortForm"
      action="/users/feedbacks/{{ recipe.id }}/sort">      
      <div class="col-md-5">
        <div class="card-body">
          <select class="form-select sort" id="sort-field" name="sort-field" required>
            <option value="date">Date</option>
            <option value="like">Likes</option>
            <option value="dislike">Dislikes</option>
          </select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <select class="form-select sort" id="sort-order" name="sort-order" required>
            <option value="desc">Descending</option>
            <option value="asc">Ascending</option>
          </select>   
        </div>
      </div>
      <div class="col-2">
        <div class="card-body">
          <button id="sortBtn" class="btn btn-info" type="submit" disabled>
            Apply
          </button>
        </div>
      </div>
    </form>
  </div>
</div> 