<div class="card mt-5 mb-3">
  <div class="row g-0">
    <div class="card-header fs-5"><b class="ms-3">{{ beer.name }}</b>
      {% if g.user %}
      <button class="btn btn-sm float-start fav-btn
        {{ 'btn-danger' if beer.id in rec_ids else 'btn-secondary' }}"
        data-rec-id="{{ beer.id }}">
        <i class="fas fa-heart"></i>
      </button>
      <form class="float-start ms-3" action="/recipes/{{ beer.id }}">
        <button class="btn btn-sm btn-info float-start">
          <i class="fas fa-comments"></i>
        </button>
      </form>
      {% endif %}
    </div>
    <div class="col-md-4 text-center">
      <img src="{{ beer.image_url }}" class="img-fluid" alt="Beer Image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Tags</h5>
        <p class="card-text">{{ beer.tagline }}</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text">{{ beer.description }}</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">Food Pairing</h5>
        <ul class="list-group list-group-flush">
          {% for food in beer.food_pairing %}
          <li class="list-group-item">{{ food }}</li>
          {% endfor %}
        </ul> 
      </div>
      <div class="card-body">
        <h5 class="card-title">Info you may find useful:</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol by volume (ABV): {{ beer.abv }}</li>
          <li class="list-group-item">International Bitterness Units (IBU): {{ beer.ibu }}</li>
          <li class="list-group-item">Ph: {{ beer.ph }}</li>
          <li class="list-group-item">Malt:
            <ul class="list-group list-group-flush">
              {% for malt in beer.ingredients.malt %}
              <li class="list-group-item">{{ malt.name }}</li>
              {% endfor %}
            </ul>
          </li>
        </ul> 
      </div>
    </div>
  </div>
</div>