{% extends 'base.html' %}
{% block content %}

<h1 class="display-5">What are you looking for today?</h1>

<div class="accordion mt-3" id="searchAccordion">
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="brewerHeader">
      <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#brewerDiv" aria-expanded="true" aria-controls="brewerDiv">
        I am a home brewer exploring beer recipes
      </button>
    </h2>
    <div id="brewerDiv" class="accordion-collapse collapse" 
      aria-labelledby="brewerHeader" data-bs-parent="#searchAccordion">
      <div class="accordion-body">
        <span>Display form to search for beer recipes based on filters entered</span>
        <p>Want to try something different? Let us surprise you with a 
          <a class="link-success" href="/random">beer recipe</a>.</p>
        <form action="/search/recipes">
        </form>
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="foodHeader">
      <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#foodDiv" aria-expanded="false" aria-controls="foodDiv">
        I am looking for food pairing based on beers
      </button>
    </h2>
    <div id="foodDiv" class="accordion-collapse collapse" 
      aria-labelledby="foodHeader" data-bs-parent="#searchAccordion">
      <div class="accordion-body">
        <span>For best results, separate words with space only, no commas or periods.</span>
        <form action="/search/foods" method="POST">
          <div class="mb-3">
            <label for="beerInput" class="form-label">Beer Information:</label>
            <input type="text" class="form-control" id="beerInput" 
              name="beerInput" placeholder="Enter keywords for your search here.">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="beerHeader">
      <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#beerDiv" aria-expanded="false" aria-controls="beerDiv">
        I am looking for beer pairing based on foods
      </button>
    </h2>
    <div id="beerDiv" class="accordion-collapse collapse" 
      aria-labelledby="beerHeader" data-bs-parent="#searchAccordion">
      <div class="accordion-body">
        <span>For best results, separate words with space only, no commas or periods.</span>
        <form action="/search/beers" method="POST">
          <div class="mb-3">
            <label for="foodInput" class="form-label">Food Information:</label>
            <input type="text" class="form-control" id="foodInput" 
              name="foodInput" placeholder="Enter keywords for your search here.">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}