{% extends 'base.html' %}
{% block content %}

<h1 class="display-5">What are you looking for today?</h1>

<div class="accordion mt-3" id="searchAccordion">
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="brewerHeader">
      <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#brewerDiv" aria-expanded="true" aria-controls="brewerDiv">
        I am a home brewer exploring beer recipes
      </button>
    </h2>
    <div id="brewerDiv" class="accordion-collapse collapse" 
      aria-labelledby="brewerHeader" data-bs-parent="#searchAccordion">
      <div class="accordion-body">
        <p>Want to try something different? Let us surprise you with a 
          <a class="link-success" href="/random">beer recipe</a>.</p>
        <form id="recipeForm" class="row mt-3 g-3" action="/search/recipes" method="POST">
          <div id="formABV" class="col-lg-2 col-md-4">
            <label for="abv_gt" class="form-label">ABV between:</label>
            <input type="number" min="0" max="100" step="1" aria-label="ABV from"
              class="form-control recipe" id="abv_gt" name="abv_gt" placeholder="0">
            <span class="input-group-text">and</span>
            <input type="number" min="0" max="100" step="1" aria-label="ABV to"
              class="form-control recipe" id="abv_lt" name="abv_lt" placeholder="100">
          </div>
          <div id="formIBU" class="col-lg-2 col-md-4">
            <label for="ibu_gt" class="form-label">IBU between:</label>
            <input type="number" min="0" max="1200" step="1" aria-label="IBU from"
              class="form-control recipe" id="ibu_gt" name="ibu_gt" placeholder="0">
            <span class="input-group-text">and</span>
            <input type="number" min="0" max="1200" step="1" aria-label="IBU to"
              class="form-control recipe" id="ibu_lt" name="ibu_lt" placeholder="1200">
          </div>
          <div id="formEBC" class="col-lg-2 col-md-4">
            <label for="ebc_gt" class="form-label">EBC between:</label>
            <input type="number" min="0" max="600" step="1" aria-label="EBC from"
              class="form-control recipe" id="ebc_gt" name="ebc_gt" placeholder="0">
            <span class="input-group-text">and</span>
            <input type="number" min="1" max="600" step="1" aria-label="EBC to"
              class="form-control recipe" id="ebc_lt" name="ebc_lt" placeholder="600">
          </div>
          <div id="formMalt" class="col-lg-2 col-md-4">
            <label for="malt" class="form-label">Malt:
              <i class="far fa-question-circle" data-bs-toggle="tooltip" 
                data-bs-placement="top" title="Separate words with space only, no commas or periods.">
              </i>
            </label>
            <textarea type="text" aria-label="Malt" class="form-control recipe" 
              id="malt" name="malt"></textarea>
          </div>
          <div id="formHops" class="col-lg-2 col-md-4">
            <label for="hops" class="form-label">Hops:
              <i class="far fa-question-circle" data-bs-toggle="tooltip" 
                data-bs-placement="top" title="Separate words with space only, no commas or periods.">
              </i>
            </label>
            <textarea type="text" aria-label="Hops" class="form-control recipe" 
              id="hops" name="hops"></textarea>
          </div>
          <div id="formYeast" class="col-lg-2 col-md-4">
            <label for="yeast" class="form-label">Yeast:
              <i class="far fa-question-circle" data-bs-toggle="tooltip" 
                data-bs-placement="top" title="Separate words with space only, no commas or periods.">
              </i>
            </label>
            <textarea type="text" aria-label="Yeast" class="form-control recipe" 
              id="yeast" name="yeast"></textarea>
          </div>

          <div class="col-12 mt-5">
            <button id="recipeBtn" type="submit" disabled class="btn btn-primary float-end">
              Search
            </button>
            <button id="clearBtn" type="reset" class="btn btn-warning float-end me-3">
              Clear
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="foodHeader">
      <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#foodDiv" aria-expanded="false" aria-controls="foodDiv">
        I am looking for food pairing based on beers
      </button>
    </h2>
    <div id="foodDiv" class="accordion-collapse collapse" 
      aria-labelledby="foodHeader" data-bs-parent="#searchAccordion">
      <div class="accordion-body">
        <form id="foodForm" class="mt-3" action="/search/foods" method="POST">
          <div class="row mb-3">
            <label for="beerInput" class="col-sm-2 col-form-label">Beer Information:
              <i class="far fa-question-circle" data-bs-toggle="tooltip" 
                data-bs-placement="top" title="Separate words with space only, no commas or periods.">
              </i>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="beerInput" 
                name="beerInput" placeholder="Enter keywords for your search here.">
            </div>
          </div>
          <div>
            <button id="beerBtn" type="submit" disabled class="btn btn-primary">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="beerHeader">
      <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#beerDiv" aria-expanded="false" aria-controls="beerDiv">
        I am looking for beer pairing based on foods
      </button>
    </h2>
    <div id="beerDiv" class="accordion-collapse collapse" 
      aria-labelledby="beerHeader" data-bs-parent="#searchAccordion">
      <div class="accordion-body">
        <form id="beerForm" action="/search/beers" method="POST">
          <div class="mb-3">
            <label for="foodInput" class="form-label">Food Information:
              <i class="far fa-question-circle" data-bs-toggle="tooltip" 
                data-bs-placement="top" title="Separate words with space only, no commas or periods.">
              </i>
            </label>
            <input type="text" class="form-control" id="foodInput" 
              name="foodInput" placeholder="Enter keywords for your search here.">
          </div>
          <div>
            <button id="foodBtn" type="submit" disabled class="btn btn-primary">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}