{% extends 'base.html' %}
{% block content %}
<h1 class="display-2 text-center">Welcome to Beers4U!</h1>
<div class="container mt-4">
  <div class="text-center">
    <img class="img-fluid" src="/static/home.jpeg" alt="Beer and snacks">
  </div>
  <div>
    <p class="fs-3 text-center mt-4">Beers4U is your one stop shop for beer recipes 
      and food pairing recommendations.</p>
    <p class="fs-4 text-center">For a better experience and access to all
      of the offered features, please consider registering.</p>
  </div>
</div>

{% endblock %}