{% extends 'base.html'  %}

{% block content %}
<h1 class="display-4">Your Profile</h1>
<p>Username: {{ g.user.username }}</p>
<p>Email: {{ g.user.email }}</p>
<p>First Name: {{ g.user.first_name }}</p>
<p>Last Name: {{ g.user.last_name }}</p>

<form class="mt-3" style="display:inline;" action="/users/delete" method="POST">
  <button class="btn me-2 btn-danger">Delete Account</button>
  <a href='/users/edit' class="btn btn-info">Edit Profile</a>
</form>

{% if g.user.favorites %} 
<h1 class="display-4">Your Favorite Beers:</h1>
{% for recipe in favorites %}

{% include "_recipe.html" %}
     
{% endfor %}

{% endif %}

{% endblock %}